<div class="subcategories">
  <section class="navigation-container">
    <DNavigation
      @category={{this.category}}
      @showCategoryAdmin={{false}}
      @createTopic={{false}}
      @noSubcategories={{false}}
      @toggleInfo={{false}}
      @editCategory={{this.editCategory}}
      @createCategory={{this.createCategory}}
      @hasDraft={{false}}
      @skipCategoriesNavItem={{true}}
    />
  </section>

  {{#if this.hasSubcategories}}
    <CategoriesOnly
      class="subcategories-list"
      @categories={{this.subcategories}}
    />
  {{else}}
    <EmptyState
      class="subcategories-empty"
      @title={{i18n "js.projects.subcategories.empty"}}
    />
  {{/if}}
</div>